<div class = "show_container">
    <%= link_to gallery_path(@gallery) do %>
      <button id="back_button"><i class="fas fa-arrow-left"></i>Back to Gallery</button>
    <% end %>

  <div class = "parent_show_container_nft_content">
    <% unless @nft.previous.nil? %>
    <%= link_to gallery_nft_path(@gallery.id, @nft.previous.id) do %>
    <i class="fas fa-chevron-left" ></i>
    <% end %>
    <% end %>

  <div class = "show_container_nft_content">
    <div class = "show_container_nft_imagecontent">
      <div class="nft_image">
        <%= image_tag @nft.image_url %>
        <button class="button-like-img-nft">like <i class="fas fa-heart"></i></button>
      </div>
    </div>
    <div class = "show_container_nft_textcontent">
      <div class = "nft_text">
        <h2> <%= @nft.token_name %></h2>
        <h3 id="collectionName"> <%= @nft.collection_name %></h3>
        <p> <%= @nft.token_description %></p>
        <h3  id="p-content-h3"> Owned by: </h3>
        <p> <%= @nft.current_owner %></p>
        <h3  id="p-content-h3"> Created by: </h3>
        <p> <%= @nft.artist_name %></p>
        <div id="buttons-OS-S-bottom">
          <%= link_to @nft.opensea_link, class: 'button', target:"_blank" do %>
            OpenSea
          <% end %>

          <button class="button" data-url="<%= gallery_nft_url(@gallery, @nft) %>" id="shareButtonShow">
            Share
          </button>
        </div>
      </div>
    </div>
    </div>
    <% unless @nft.next.nil? %>
    <%= link_to gallery_nft_path(@gallery.id, @nft.next.id) do %>
    <i class="fas fa-chevron-right" ></i>
    <% end %>
    <% end %>
  </div>
</div>
