<div class="navbar-design-parent-div">
  <div class="navbar-design-child-left-div">
    <%= link_to root_path, class: "navbar-design-image" do %>
      <%= image_tag "/assets/NTFeaseLogo.png" %>
    <% end %>
    <h2>NFTease</h2>
  </div>
  <div class="navbar-design-child-right-div">
    <ul class="navbar-sign-parent-div-all">
      <div class="navbar-sign-child-div-all">
        <% if user_signed_in? %>
            <li class="navbar-design-child-div-all">
              <%= link_to "Galleries", galleries_path %>
            </li>
            <li class="navbar-design-child-div-all">
              <%= link_to "My Gallery", dashboard_path %>
            </li>
            <li class="navbar-design-child-div-all">
              <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
            </li>
        <% else %>
        <%# replace the piece of code bellow between the <li> tags %>
          <li class="navbar-design-child-div-all">
            <%= link_to "Login", new_user_session_path %>
          </li>
          <li class="navbar-design-child-div-all">
            <%= link_to "Sign-Up", new_user_registration_path %>
          </li>
        <% end %>
        </div>
      </ul>
  </div>
</div>
