<div class="dash-container">
  <div class="dash-main-content">
    <div class="current-gallery">
      <h1><%=@gallery.name%></h1>
      <%=link_to('Edit', edit_gallery_path(@gallery))%>

      <div class="cards">
      <% if !@nfts.nil? %>
        <% @nfts.each do |nft| %>
            <div class="card-nft">
              <%# <div id="app">
                <div class = "cardish animated"> %>
              <img src="<%=nft.image_url_small%>">
              <div class="card-nft-infos">
                <div>
                  <h2><%=truncate(nft.token_name, length: 28)%></h2>
                  <p><%=truncate(nft.collection_name, :length =>50)%></p>
                </div>
              </div>
            </div>

        <%end%>
      <% end %>
     </div>
  </div>
</div>
