

<div class="body-home-div">

  <div id="blob" class="position-absolute" style="top: -2%;"></div>

    <div class="content-text-home-landing-parent">
      <h3 class="neonText">NFTease: The easiest way to showcase your NFT collection</h3>
      <p class="fw-light neonText">Create a gallery to share with friends in less than 3 minutes.</p>
      <% if user_signed_in? %>
        <%= link_to "My Gallery", dashboard_path %>
      <% else %>
        <%= link_to "Login", new_user_session_path %>
      <% end %>
    </div>


  <div class="home-explaining-content-parent">
    <div class="home-explaining-content-child">
      <div class="card-explain-home">
        <i class="ph-fast-forward-circle"></i>
        <h2>Fast</h2>
        <h4><strong>Easy and fast to use.</strong><br/> Simply sign up, input your wallet key, go to your dashboard, import your NFT's, and get started</h4>
      </div>
      <div class="card-explain-home">
        <i class="ph-sliders" style="transform: rotate(90deg);"></i>
        <h2>Customizable</h2>
        <h4><strong>Customize to your needs.</strong><br/>You can add <strong>Music</strong>, change <strong>Color</strong>, choose <strong>Fonts</strong>, update <strong>Name</strong>, and append, remove or reorder your <strong>NFT's</strong>.</h4>
      </div>
      <div class="card-explain-home">
        <i class="ph-share-network"></i>
        <h2>Accesible</h2>
        <h4><strong>Share with your friends and family.</strong><br/>Display to the world your collection and flex-on them haters <br/>#taylorswift</h4>
      </div>
    </div>
  </div>
</div>

<div class="featured-galleries-home-page-h"><h1>FEATURED GALLERIES</h1></div>

<div class="home-feature-nft-main-div">
  <% @galleries.each do |gallery| %>
    <%= link_to gallery_path(gallery) do %>
      <div class="home-feature-nft-parent-div">
          <% gallery1 = gallery.nfts.first.image_url_small %>
          <% gallery2 = gallery.nfts.last.image_url_small %>
          <% gallery3 = gallery.nfts.sample.image_url_small %>
            <div class="home-feature-image-div">
              <img src="<%=gallery1%>">
              <img src="<%=gallery2%>">
              <img src="<%=gallery3%>">
            </div>
            <div class="home-feature-content-div">
              <h2><%=truncate(gallery.name, length: 40)%></h2>
            </div>
        </div>
    <%end%>
  <%end%>
</div>
