<div class="modal fade" style="margin-top: 50px;" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog model-dialog-body-edit-form">
    <div class="modal-content model-content-body-edit-form">
      <div class="modal-header-content-top-form-edit">
        <i class="fas fa-times-circle" id="screw-form-1"></i>
        <h5 class="modal-title" id="exampleModalLabel">Gallery Options</h5>
        <i class="fas fa-times-circle" id="screw-form-2"></i>
      </div>
      <div class="modal-body model-body-body-edit-form">
            <%= simple_form_for @gallery, html: { class: "text-input-filed-edit text-input-filed-edit-form-1"} do |f| %>
          <div class = "top-edit-options">
            <%= f.input :name, label: "Gallery Name"%>
            <%= f.input :fonts,label: "Gallery Font", collection: [["Corinthia", "'Corinthia', cursive", {class: "corinth", style: "color: red"}], ["Montserrat","'Montserrat', sans-serif", {class: "montserrat"}], ["Roboto", "'Roboto Condensed', sans-serif", {class: "roboto"}], ["Oswald","'Oswald', sans-serif", {class: "oswald"}], ["Permanent Marker", "'Permanent Marker', cursive", {class: "perm"}]] %>
            <div class="file-colors-div-form-edit-modal">
              <%= f.input :playlist, placeholder: "Choose Playlist", label: "Gallery Music", as: :file %>
              <%= f.color_field :colors, label: "Background Colors" %>
            </div>
          </div>
      </div>
      <div class="modal-footer modal-footer-content-bottom-form-edit">
        <i class="fas fa-times-circle" id="screw-form-3"></i>
        <button type="button" class="actions_change_name_edit">
            <%= f.button :submit, "Update"%>
        </button>
        <i class="fas fa-times-circle" id="screw-form-4"></i>
      </div>
      <% end %>
    </div>
  </div>
</div>
