<div class = "dash-container">
  <div class = "selector">
  </div>
  <div class = "chosen_items_gallery">
    <div class = "edit_name_content">
      <div class = "edit_name_text_content">
        <h2>
          <% if @gallery.name.nil? %>
            <%= truncate(current_owner.wallet, length: 13)%>
          <% else %>
            <%= @gallery.name%>
          <% end %>
        </h2>
        <button>Gearicon</button>
      </div>
      <button>View Gallery</button>
    </div>
    <div class="cards itemchosens">
      <%@nfts_added.each do |nft| %>
          <div class="card-nft">
            <%= image_tag nft.image_url_small %>
            <%= link_to("Remove",gallery_nft_path(params[:id], nft), method: :patch)%>
            <div class="card-nft-infos">
              <div>
                <h2><%=truncate(nft.token_name, length: 28)%></h2>
                <p><%=truncate(nft.token_description, :length =>50)%></p>
              </div>
            </div>
          </div>
      <%end%>
    </div>
  </div>
  <div class = "gallerieless_nfts">
    <h2>Select NFTs to Add:</h2>
    <div class="cards">
      <%@nfts_available.each do |nft| %>
        <%# <%= link_to offer_path() do %>
          <div class="card-nft">
            <%= image_tag nft.image_url_small %>
            <%= link_to("Add To Gallery",gallery_nft_path(params[:id], nft), method: :patch) %>
            <div class="card-nft-infos">
              <div>
                <h2><%=truncate(nft.token_name, length: 28)%></h2>
                <p><%=truncate(nft.token_description, :length =>50)%></p>
              </div>
              <h3 class="card-nft-artist"><%=truncate(nft.artist_name, length: 8)%></h3>
            </div>
          </div>
      <%end%>
    </div>
  </div>
</div>
