<button id="back_button"><i class="fas fa-arrow-left"></i><%= link_to "Go Back", :back %></button>

<div class = "dash-container" style="margin-top: 25px;">
      <h2 style="text-align: center;"><%= @gallery.name %></h2>
    </div>
  <div class="top-div-edit-page">
    <button type="button" class="btn btn-primary edit-gallery-optioins-btn" data-toggle="modal" data-target="#exampleModal">
      Edit Gallery Options <i class="fas fa-cogs" style="margin-left: 5px;"></i>
    </button>
    <%= render "form", gallery: @gallery %>

    <div class="view-gallery-button-edit">
      <%=link_to gallery_path(@gallery) do %>
        <button>View Public Gallery</button>
      <% end %>
    </div>
  </div>
    <div class="cards itemchosens" style="margin-bottom: 50px;" data-update-order-url="<%= update_order_gallery_path(@gallery) %>">
      <%@nfts_added.each do |nft| %>
          <div class="card-nft applesauce" data-id="<%= nft.id %>">
            <% if nft.image_url_small.match?(/.*mp4$/) %>
              <video src='<%= nft.image_url_small%>', controls, loop ></video>
            <% else %>
              <img src='<%= nft.image_url_small%>'>
            <% end %>
            <%= link_to gallery_nft_path(params[:id], nft), method: :patch do %>
              <i class="fas fa-times"></i>
            <%end%>
            <div class="card-nft-infos">
              <div>
                <h2 style="font-family:<%= @gallery.fonts %>; font-size: <%= "20px" if @gallery.fonts == "'Corinthia', cursive"%>"><%=truncate(nft.token_name, length: 28)%></h2>
                <p><%=truncate(nft.token_description, :length =>80)%></p>
              </div>
            </div>
          </div>
      <%end%>
    </div>
    </div>
  </div>
  <div class = "gallerieless_nfts" style="margin-bottom: 80px;">
    <h2 class="title-add-select-nft-china">Select NFTs to Add:</h2>
    <div class="cards" style="margin: auto;">
      <%@nfts_available.each do |nft| %>
        <%# <%= link_to offer_path() do %>
          <div class="card-nft">
            <% if nft.image_url_small.match?(/.*mp4$/) %>
              <video src='<%= nft.image_url_small%>', controls, loop></video>
            <% elsif nft.image_url_small.match?(/.*mov$/) %>
              <img src="https://res.cloudinary.com/jansommer/image/upload/v1638530952/nftease/no-image.png">
            <% else %>
              <img src='<%= nft.image_url_small%>'>
            <% end %>
            <%= link_to gallery_nft_path(params[:id], nft), method: :patch, class: "stretched-link" do%>
              <i class="fas fa-plus"></i>
            <% end %>
            <div class="card-nft-infos">
              <div>
                <h2><%=truncate(nft.token_name, length: 28)%></h2>
                <p><%=truncate(nft.token_description, :length =>80)%></p>
              </div>
            </div>
          </div>
      <%end%>
    </div>
  </div>
</div>
