<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:200,400,400i|Nunito:200,300i" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
        <link rel="shortcut icon" type="image/png" href="img/favicon.png">
        <title>Find Galleries to Browse</title>
    </head>
    
<div class="navbar-design-parent-div">
  <div class="main-content">
        <div class="content-header">
        <div class="header-text"><h1>#</h1></div>
                <div class="search-bar">
                <%= form_tag galleries_path, method: :get do %>
                    <%= text_field_tag :query,
                    params[:query],
                    class: "search-input",
                    placeholder: "NFT's galore "           
                    %>
                    <%= submit_tag "Search", class: "btn-search" %>
                <% end %>
                </div>
            </div>
        </div>
    </div>
</div>


    <h1>Trending</h1>
        <setion class="row">
        <%@galleries.each do |gallery| %> 
            <%= link_to gallery_path(gallery) do %>
            <div class="gal" >
                <p><%=@gallery%>
                <div class="gal-nft">
                    <div class="top-nft">
                        <img src= "assets/sample.jpg" width = "200" height = "200">  
                    </div>
                    <div class="middle" style="float: left;">
                        <img src= "assets/sample.jpg" width = "100" height = "100">  
                        <img src= "assets/sample.jpg" width = "100" height = "100">  
                    </div>
                </div>
                </p>
            </div>
            <div class="gal">
                <p><%=@gallery%>
                <div class="gal-nft">
                    <div class="top-nft">
                        <img src= "assets/sample.jpg" width = "200" height = "200">  
                    </div>
                    <div class="middle" style="float: left;">
                        <img src= "assets/sample.jpg" width = "100" height = "100">  
                        <img src= "assets/sample.jpg" width = "100" height = "100">  
                    </div>
                </div>
                </p>
            </div>
            <div class="gal">
                <p><%=@gallery%>
                <div class="gal-nft">
                    <div class="top-nft">
                        <img src= "assets/sample.jpg" width = "200" height = "200">  
                    </div>
                    <div class="middle" style="float: left;">
                        <img src= "assets/sample.jpg" width = "100" height = "100">  
                        <img src= "assets/sample.jpg" width = "100" height = "100">  
                    </div>
                </div>
                </p>
            </div>
        </section>
            <%#= cl_image_tag gallery.photo.key.to_s %>
            <div class="gallery-infos">
            </div>
          </div>
        <%end%>
      <%end%>
