<% if user_signed_in? %>
  <button id="back_button"><i class="fas fa-arrow-left"></i><%= link_to "Go Back", :back %></button>
<% end %>
<div class="background-color-edit" style="background-color:<%= @gallery.colors %>">
  <div id="preloader">
    <div id="preloader-header">
        <h1>Loading gallery...</h1>
    </div>
    <div id="preloader-center">
    </div>
  </div>

  <div class="public-gallery-container" style="display:none;" id="public-gallery-container">
    <div class="dash-main-content">
      <%= audio_check(@gallery) %>
      <div class="current-gallery">
        <h1><%=@gallery.name%></h1>
        <div class="public-cards">
          <% if !@nfts.nil? %>
            <% index = 0 %>
            <% @nfts.each do |nft| %>
              <section class="content-section" data-scroll>
              <%# <%= link_to gallery_nft_path(@gallery,nft) do %>
                <div data-toggle="modal" data-target="#nft-show-<%=nft.id%>">
                  <div class="div figure">
                    <div class="public-card-nft">
                      <% if nft.image_url.match?(/.*mp4$/) %>
                        <video src='<%=nft.image_url%>', controls , loop, loading= <%= if index < 5 then 'eager' else 'auto' end %>></video>
                      <% elsif nft.image_url_small.match?(/.*mov$/) %>
                        <img src="https://res.cloudinary.com/jansommer/image/upload/v1638530952/nftease/no-image.png">
                      <% else %>
                        <img src='<%=nft.image_url%>' loading=<%=if index < 5 then 'eager' else 'auto' end%>>
                      <% end %>
                      <div class="public-card-nft-infos">
                        <div>
                          <h2 style="font-family:<%= @gallery.fonts %>;"><%=truncate(nft.token_name, length: 28)%></h2>
                          <p><%=truncate(nft.collection_name, :length =>50)%></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                    <!-- Modal -->
                <%= render 'nftshow', nft: nft, gallery: @gallery %>
                <% index =+ 1%>
              </section>
            <%end%>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
<%# <div class='scrolltop'>
    <div class='scroll icon'><i class="fa fa-4x fa-angle-up"></i></div>
</div> %>
